@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: mybold;
    src: url("/public/fonts/bold.otf") format("opentype");
  }
@font-face {
    font-family: forall;
    src: url("/public/fonts/forall.ttf") format("opentype");
  }

body {
    background-color: #1C1C1C;
  }

  .dayPickerSelected {
    background-color: #4caf50 !important;
    color: white !important;
  }


  * {
    font-family: 'forall', sans-serif;
  }

  .animate-in {
    animation: animateIn 0.3s ease 0.15s both;
  }
  .animate-from-right {
    animation: animateFromRight 0.3s ease 0.15s both;
  }
  
  @keyframes animateIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes animateFromRight {
    from {
      opacity: 0;
      transform: translateX(20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .dots {
    width: 21.1px;
    height: 21.1px;
    position: relative;
 }
 
 .dots::before,
 .dots::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: #34c083;
 }
 
 .dots::before {
    box-shadow: -42.2px 0 #34c083;
    animation: dots-dm1l1chg 0.48s infinite linear;
 }
 
 .dots::after {
    transform: rotate(0deg) translateX(42.2px);
    animation: dots-dh1qq5hg 0.48s infinite linear;
 }
 
 @keyframes dots-dm1l1chg {
    100% {
       transform: translateX(42.2px);
    }
 }
 
 @keyframes dots-dh1qq5hg {
    100% {
       transform: rotate(-180deg) translateX(42.2px);
    }
 }